src/goldens/sample.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_Issue_Inserting_Tag_Record_Error</name>
        <label>Add &quot;Issue Inserting Tag Record&quot; Error</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <actionName>TriggerActionFlowAddError</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Case</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>errorMessage</name>
            <value>
                <elementReference>issueInsertingTagRecordError</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TriggerActionFlowAddError</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Add_No_Tag_Definition_Found_Error</name>
        <label>Add &quot;No Tag Definition Found&quot; Error</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <actionName>TriggerActionFlowAddError</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Case</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>errorMessage</name>
            <value>
                <elementReference>noTagDefinitionFoundError</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TriggerActionFlowAddError</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Populate_Tag</name>
        <label>Populate Tag</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>tagToInsert.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tagToInsert.Record_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tagToInsert.Tag_Definition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Aurora_Tag_Definition.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Tag</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Was_Tag_Definition_c_found</name>
        <label>Was Tag_Definition__c found?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Populate_Tag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Aurora_Tag_Definition</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_No_Tag_Definition_Found_Error</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Automatically inserts a Tag__c related to the Aurora Tag_Definition__c for newly created cases.</description>
    <environments>Default</environments>
    <formulas>
        <name>issueInsertingTagRecordError</name>
        <dataType>String</dataType>
        <expression>&quot;The system encountered an error when trying to insert the Tag__c record for this case which is related to the &quot; +{!$Label.Aurora_Tag_Definition_Name} + &quot; Tag_Definition__c.&quot;</expression>
    </formulas>
    <formulas>
        <name>noTagDefinitionFoundError</name>
        <dataType>String</dataType>
        <expression>&quot;The system was unable to find the &quot; + {!$Label.Aurora_Tag_Definition_Name} + &quot; Tag_Definition__c record.&quot;</expression>
    </formulas>
    <interviewLabel>TA_Case_InsertAuroraTag {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TA | Case | InsertAuroraTag</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Tag</name>
        <label>Insert Tag</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <faultConnector>
            <targetReference>Add_Issue_Inserting_Tag_Record_Error</targetReference>
        </faultConnector>
        <inputReference>tagToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Aurora_Tag_Definition</name>
        <label>Get Aurora Tag Definition</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Tag_Definition_c_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>General Tag</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Aurora_Tag_Definition_Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Tag_Definition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Aurora_Tag_Definition</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>tagToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Tag__c</objectType>
    </variables>
</Flow>